.encabezado__presentacion--imagen{
    width: 30%;

}

.presentacion_imagen--rostro{
    height: 270px;
    max-width: 100%;
    padding-left: 7rem;
    width: 210px;
}

@media screen and (max-width:320px){
    .encabezado__presentacion--imagen{
        width: 100%;
    }
    .presentacion_imagen--rostro{
        width: 60% ;
        height: 195px;
        padding: 1rem 20%;
    }
    
}

@media screen and (min-width:321px) and (max-width:375px) {
    .encabezado__presentacion--imagen{
        width: 100%;
    }
    .presentacion_imagen--rostro{
        width: 60% ;
        height: 220px;
        padding: 1rem 20%;
    }
    
}

@media screen and (min-width:376px) and (max-width:425px){
    
    .encabezado__presentacion--imagen{
        width: 100%;
    }
    .presentacion_imagen--rostro{
        width: 60%;
        height: 275px;
        padding: 1rem 20%;
    }
    
}