.body{
    background-attachment: fixed;
    background-image: url(../imagenes/background.jpg);
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media  screen and (max-width:425px) {
    .body{
        background-size: cover;
        width: 100vw;
        height: 100vw;
        margin: 0%;
    }
    
}