.contacto__contenido{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:425px) {
    .contacto__contenido{
        display: flex;
        flex-direction:column-reverse;
    }
    
}