.contacto__contenido--texto{
    padding-left:5%;
    width: 60%;
}

.contacto__titulo{
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    line-height: 100%;
}

.contacto__subtitulo{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

}

.input-padron{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    resize: none;
    width: 80%;
}

.formulario__enviar{
    background-color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.35);
    color: beige;
    cursor: pointer;
    height: 2rem;
    margin-top: 1rem;
    transition: 1s all;
    width: 10rem;
}

.formulario__enviar:hover{
    background: rgb(31, 28, 28);
    transform: scale(1.1);
}

.formulario__label{
    margin-top: 1rem;
}

@media screen and (max-width:425px) {
    .contacto__contenido--texto{
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }
    .contacto__titulo{
        text-shadow: 2px 2px 2px gray;
        width: 50%;
        padding-left: 25%;
        padding-right: 25%;
        text-align: center;
    }
    .contacto__subtitulo{
        width: 100%;
        margin-top: 1rem;
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
    }
    .formulario{
        width: 100%;
    }
    .input-padron{
        width: 89%;
    }

    .formulario__enviar{
        margin: 1rem 25%;
        width: 50%;
        padding: 0%;
    }
}
