.encriptador__contenido{
    display: flex;
    justify-content: space-between;
}

.encriptador__contenido--texto{
    padding: 10% 0;

}

.imagen__encriptador{
    border: 0.5px solid;
    border-radius: 10px;
    box-shadow: -8px 8px 8px 0 rgba(0, 0, 0, 0.35);
}

.imagen__encriptador--titulo{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.imagen__encriptador--subtitulo{
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    padding: 0.5rem 0 0.75rem 0;
}

.boton__encriptador{
    background-color: black;
    color: beige;
    border-radius: 5px;
    height: 2rem;
    width: 8rem;
    margin-right: 1rem;
    border: none;
    box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.35);
    transition: 0.5s all;
    cursor: pointer;
}

.boton__encriptador:hover{
    background: rgb(31, 28, 28);
    transform: scale(1.1);
}



@media screen and (max-width:425px) {
    .encriptador__contenido{
        display: flex;
        flex-direction: column;
    }
    .imagen__encriptador{
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }
    .imagen__encriptador--titulo{
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
    }
    .imagen__encriptador--subtitulo{
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
    }
    .boton__encriptador{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

