.formacion__academica{
    padding: 2rem 0;
}

.formacionAcademica__contenido{
    display: flex;
}

@media screen and (max-width:425px){
    .formacion__academica{
        display: flex;
        flex-direction: column;
    }
    .formacionAcademica__contenido{
        flex-direction: column;
    }
    
}

